#card {
    /* background-color: yellow; */
    border-radius: 2rem;
    width: 320px;
    height: 440px;
    overflow: hidden;
    display: flex;
    position: relative;
}

#card img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -11; */
}