#cardContainer {
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    overflow: hidden;
    position: relative;
}